* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
}

.colored {
    background-color: black;
}

.sizeSet {
    width: 200px;
}